	<aside>
		<div>
			<div>
				<ul>
					<li><a href="/opensquare-nyudlts/books">All books</a></li>
					{{- $pageurl := .URL -}}
					{{ range where .Site.Pages "Section" "subjects" }}
				 	{{- $thisurl := .URL -}}
				 	{{ if eq $pageurl $thisurl }}
					<li class="active" ><span>{{ .Title }}</span></li>
					{{- else -}}
					<li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
					{{ end -}}
					{{ end }}
				</ul>
			</div>
		</div>
	</aside>
