@import "./normalize";

@import "./sanitize";

/* ========================================================================== */
/* Begin DLTS styles */
/* ========================================================================== */
body {
  background-color: #444444;
}

h1 {
  font-size: 1.5rem;
  margin: 0;
}

h2 {
  font-size: 1.35rem;
  margin: 0;
}

.contain-main {
  display: flex;
}

.page-title {
  margin-bottom: .8rem;
}

ul {
  list-style-type: none;
  padding-left: 15px;
}

header.page-header, div.contain-main, footer.page-footer {
  max-width: 1400px;
  margin: 0 auto;
  background-color: white;
}

.tags ul, .tags li, .categories li {
  display: inline-block;
  margin: 0;
  padding-left: 0;
}

aside {
  order: 1;
  background-color: #efefef;
  flex: 1 0 12%;
  padding-right: 15px;
  min-width: 250px;

  a {
    padding: 3px 0;
    display: block;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    padding: 3px;
    display: block;
  }

  .active {
    border-left: 4px solid #ccc;
    padding-left: 5px;
  }
}

main {
  order: 2;
  flex: 0 1 80%;
  padding: 35px;
}

header.page-header {
  border-bottom: 2px solid #111111;
  padding: 35px;
}

footer.page-footer {
  border-top: 2px solid #111111;
  padding: 35px;
}

header li, header nav {
  display: inline-block;
}

.breadcrumbs {
  ul {
    display: inline-block;
    padding-left: 0;
  }

  li {
    display: inline-block;
  }
}

.book-detail, .book-summary {
  display: flex;
}

.book-detail {
  #book-title {
    margin: 0;
    font-size: 1.5rem;
  }

  header {
    margin-bottom: .5rem;
  }

  .description {
    margin: .5rem 0;
  }
}

.book-summary {
  margin-bottom: 1.4rem;
}

.book-summary .thumb {
  flex: 0 1 70px;
}

.book-summary .thumb img {
  width: 100%;
  height: auto;
}

.meta-group {
  padding-left: 12px;
}

.paginator {
  display: none;
}