{{ partial "header.html" . }}
  <main>
    <h1 class="page-title">{{.Data.Singular}}: {{ .Data.Term }}</h1>
     {{ .Content }}
    {{ $paginator := .Paginate (where .Data.Pages "Type" "books") }}
    {{ range $paginator.Pages }}
      {{ partial "summary.html" . }}
    {{ end }}
    {{ partial "pagination.html" . }}
  </main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}

