{{ partial "header.html" . }}
	<main>
		{{ partial "breadcrumbs.html" . }}
		<article>
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
			<div>
				{{ .Content }}
			</div>
			<div class="tags"><span>Tags:</span>
				<ul >
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul></div>
				<div class="subjects"><span>subjects:</span>
				<ul >
					{{ range .Params.subjects }}
					<li><a href="{{ "/subjects/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ partial "footer.html" . }}